*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orqa{
    width: 1440;
    background: rgb(42, 93, 90);background: rgb(42, 93, 90);

}
h1{
    width: 400px;
    background: rgb(49, 19, 19);
    color: #f4eaea;
    margin: 0 auto;
    margin-top: 26px;
    text-align: center;
}
.orqe{
    box-sizing: border-box;
    background-color: #000000;
    margin: 0 auto;
    width: 1000px;
    margin-top: 55px;
    border: 10px solid #ff0000;
}
.a1{
    width: 896px;
    background: rgb(31, 232, 183);
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
}
.a2{
    text-align: center;
    margin: 99px 92px;
    width: 817px;
    padding: 50px 40px  ;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: justify;
    
}
.a3{
width: 896px;
margin: 0 auto;
margin-top: 30px;
background: rgb(31, 232, 183);
}
